.App {
  text-align: center;
}

.movie-catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-poster {
  width: 20%;
  border:2px solid salmon;
}

img {
  width: 100%;
  display: block;
}